.vscode
.idea
build
memo.txt
run1.sh
imgui.ini

data/FLAME2020.init

data/FLAME2020/bs_style.txt
data/FLAME2020/bs_type.txt
data/FLAME2020/f.npy
data/FLAME2020/generic_model.pkl
data/FLAME2020/J_regressor.npy
data/FLAME2020/J.npy
data/FLAME2020/kintree_table.npy
data/FLAME2020/posedirs.npy
data/FLAME2020/shapedirs.npy
data/FLAME2020/v_template.npy
data/FLAME2020/weights.npy

